.dark-container {
    background-color: black;
    color: black;
    padding: 2rem;

}

.back{
    background-color: black;
}

input[type="text"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #222;
    color: white;
}

button {
    padding: 0.5rem 1rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.book h2 {
    color: black;
}
